

.page {
    background-image: url('../img/build-page.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh; /* Garante que o body ocupe toda a altura da janela */
    display: flex;
    justify-content: center;
    align-items: center;
}


.page__build-spec {
    background-color: rgba(255, 255, 255, 0.863);
    padding: 40px;
    margin: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 15px;
    font-family: monospace;
}

.page__build-spec-parameters{
    font-weight: bold;
    font-size:larger;
}

