/* Resetando margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o body e a página */
body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.page {
    background-color: #79efef;
    text-align: center;
    max-width: 800px;
    width: 100%;
    padding: 84px;
    border-radius: 70px;
}

/* Estilos para o logotipo */
#index-logo {
    max-width: 100%;
    height: auto;
}

/* Estilos para a navegação */
#main-nav ul {
    list-style-type: none;
    padding: 0;

}

#main-nav li {

    display: inline-block;
    margin-right: 20px;
}

#main-nav li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

#main-nav li a:hover {
    color: #007bff;
}

/* Estilos para o rodapé */
.page__footer {
    margin-top: 20px;
}

.page__footer p {
    font-size: 14px;
}

.page__footer a {
    color: #007bff;
    text-decoration: none;
}

.page__footer a:hover {
    text-decoration: underline;
}
